.home-poster-container {
  width: 80%;
  height: 250px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.poster-img {
  width: 100%;
  height: 250px;
  border-radius: 10px;

}

.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}


@media screen and (max-width: 768px) {
 

  .home-poster-container {
    width: 100%;
    margin-left: 0;
    height: 120px;

    /* Keep some margin at the top */
  }

  .poster-img {
    width: 100%;
    margin-left: 0;
    height: 120px;

  }

}