.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fafafa;
}

.login-box {
  background-color: white;
  border: 1px solid #dbdbdb;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin-bottom: 20px;
  
}



.login-input {

  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background-color: #fafafa;
}

.login-button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #305167;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #dbdbdb;
}

.or {
  margin: 0 10px;
  color: #8e8e8e;
  font-weight: 600;
}

.login-with-facebook {
  display: flex;
  align-items: center;
  color: #385185;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

.facebook-logo {
  width: 20px;
  margin-right: 8px;
}

.forgot-password {
  color: #00376b;
  text-decoration: none;
  font-size: 12px;
}

.signup-box {
  background-color: white;
  border: 1px solid #dbdbdb;
  padding: 20px;
  text-align: center;
  width: 350px;
}

.signup-box a {
  color: #0095f6;
  text-decoration: none;
  font-weight: 600;
}

.loading-spinner_login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner_login {
  width: 16px;
  height: 16px;
  border: 3px solid transparent;
  border-top: 3px solid #fff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.login-version {
  margin-top: 20px;
  font-size: 14px;
  color: #888;
  text-align: center;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}